.container-fluid {
    max-width: 1300px;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-header {
    padding: 20px 0;
    flex: none;
    border-bottom: 1px solid $secondary;
    margin-bottom: 30px;
}

.main-content {
    width: 100%;
    flex: 1 0 auto;
}

@media screen and (max-width: 767px) {
    .page-link {
        padding-left: 8px;
        padding-right: 8px;
    }
}
